input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius:4px;
    box-shadow: none;
    font-size:1em;
}
input::-ms-clear { display: none;}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type="text"], input[type="password"] { 
    height: auto; /* 높이 초기화 */ 
    line-height: normal; /* line-height 초기화 */ 
    padding: .8em .5em; /* 여백 설정 */ 
}

#table-plate {
    flex-direction: column;
}

.detail-table {
    min-height: 64px;
    width: 100%;
    display: flex;
    margin-bottom: 1em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.table-header {
    height: 15%;
    width: 90%;
    padding-top: 3%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #eee;
    padding-bottom: 1em;
}  

.table-header > img {
    width: 25px;
    height: 25px;
    margin-right: 1em;
}

.table-header > p {
    font-weight: bolder;
}

.table-body {
    height: 85%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-collapse: collapse;
}

.table-row {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    border-bottom: 1px solid #eee;
    align-items: stretch;
}

.table-key {
    min-width: 200px;
    width: 14%;
    padding: .5em .5em .5em 1em;
    background-color: #eee;
    display: flex;
    align-items: center;
    font-size: 0.8em;
    font-weight: bold;
    border: 1px solid #DDD;
}

.table-value {
    width: 40%;
    padding: .5em;
    padding-left: 1em;
    font-size: 0.8em;
}

.table-value:focus-within {
    background-color: #EEE;
}

.link-box {
    display: flex;
    justify-content: flex-end;
    padding: 2%;
}

.link-box > img {
    width: 20px;
    height: 20px;
}
#to-blade-module {
    font-weight: bold;
}

.radio-option-plate {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.radio-option {
    display: flex;
    padding: 1%;
    width: calc(100% - 1.5em);
    border-bottom: 1px solid #EEE;
    padding-left: 1em;
    align-items: center;
}

.radio-option-plate > div:last-child {
    border-bottom: none;
}

.radio-option > input {
    appearance: auto;
    margin: 0;
    margin-right: 0.5em;
    width: 1em;
}

.checkbox-plate {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.checkbox-plate > input {
    appearance: auto;
    width: auto;
}

.checkbox {
    appearance: auto;
    margin-right: 1em;
    margin-left: 0;
    width: 1em;
}

label > span{
    margin-right: 1em;
} 

.table-row > .checkbox-plate {
    margin-left: 1em;
    font-size: .9em;
}

div:empty:before {
    content: attr(placeholder);
    color: gray;
}

.Table-Footer {
    display: flex;
    margin-bottom: 1em;
    justify-content: center;
}

.Table-Footer > button {
    font-size: 0.8em;
}

.disabled-div {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}

.addable-div {
    display: flex;
    flex-direction: column;
}

.addable-div > .checkbox-plate {
    margin-left: 1em;
    font-size: .9em;
}

.addable-row {
    display: flex;
    flex-direction: column;
}

.addable-row > .table-value {
    min-width: 365px;
    width: 100%;
}

.add-btn-div {
    display: flex;
    flex-direction: row;
}

.add-btn-div > .button-label {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: .8em;
    font-weight: bold;
}

.plus-button {
    border: 2px solid lightgrey;
	background-color: #fff;
	font-size: .8em;
	height: 2.5em;
	width: 2.5em;
	border-radius: 999px;
	position: relative;
}
.plus-button:after,
.plus-button:before {
    content: "";
    display: block;
    background-color: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plus-button:before {
    height: 1em;
    width: 0.2em;
}

.plus-button:after {
    height: 0.2em;
    width: 1em;
}

.list-style {
    border-top : 1px solid #CCC;
}

.list-style:last-child {
    border-bottom : 1px solid #CCC;
}