div.iso-image-table-header {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-direction: row;
    background-color: #999;
    color: #FFF;
    padding: 1%;
}

div.iso-image-table-body {
    display: flex;
    width: 90%;
    flex-direction: column;
    padding: 1%;
}

div.iso-image-table-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
div.number {
    display: flex;
    width: 12%;
    align-items: center;
}

div.size {
    display: flex;
    width: 12%;
}

div.create-time {
    display: flex;
    width: 18%;
}

div.name {
    display: flex;
    width: 28%;
}