body {
    margin: 0;
    padding: 0;
}

h1,h2 {
    margin: 0;
    padding: 1%;
}

a { text-decoration: none;}
p { padding: 0; margin: 0;}
ul, li {
    list-style: none;
    float: left;
    padding: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(https://img.icons8.com/material-outlined/24/000000/expand-arrow--v1.png) no-repeat 95% 50%;

    width: 200px;
    padding: .8em;
    border: 1px solid #999;
    border-radius: 0px;
}

select::-ms-expand {
    display: none;
}

li:not(:last-child) {
    padding-right: 1em;
}

hr.vertical {
    flex-grow: 1;
    border: 1px solid #EEE;
}

hr.horizontal {
    flex: 0 0 100%;
}
.device-name {
    font-size: 1em;
    color: blueviolet;
    font-weight: bold;
    padding-top: 1%;
}

.header {
    background-color: black;
    margin: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 5em;
    min-width: calc(1244px + 4%);
}

.header > .session-plate {
    padding: 1em;
    padding-right: 2%;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.session-plate > button {
    font-size: 0.8em;
}

.container {
    /* height: 100%; */
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.web-body {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.left-navigator {
    height: auto;
    background-color: #555555;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    min-height: 1024px;
    width: 13%;
    min-width: 220px;
}

.menu-control:hover > .navi-box-sub {
    display: block;
}

.navi-box {
    padding: 0.8em;
    border-bottom: 1px solid black;
    font-size: 0.8em;
}

.navi-box-sub {
    cursor: pointer;
    padding: 0.8em;
    border-bottom: 1px solid black;
    font-size: 0.6em;
    background-color: #666666;
    display: none;
}

.cur-navi-box-sub {
    cursor: pointer;
    padding: 0.8em;
    border-bottom: 1px solid black;
    font-size: 0.6em;
    background-color: #666666;
}

.navi-box-sub:hover{
    background-color: #777;
}

.cur-navi-box-sub:hover{
    background-color: #777;
}

#visible {
    display: block;
}

.btm-logo {
    width: 220px;
    position: fixed;
    bottom: 10px;
    text-align: center;
}

.btm-logo > img {
    width: 100%;
    max-width: 155px;
    vertical-align: middle;    
}

.Main-Plate {
    width: 84%;
    max-width: calc(96vw - 220px);
    /* max-height: 968px; */
    height: 96%;
    margin: 2%;
    margin-bottom: 0%;
    min-width: 768px;
}

.Plate {
    min-width: 1024px;
    width: 100%;
    height: 100%;
    display: inline-block;
    margin-bottom: 5%;
    border: 1px solid #DDDDDD;
    min-height: 256px;
}

#Summary-Front {
    width: 100%;
    height: 100%;
    min-height: 256px;
}

.Plate-Header {
    font-weight:bold;
    font-size: 1.1em;
    background-color: #DDDDDD;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;    
}

.Plate-Header > h2 {
    display: inline-block;
    width: 50%;
    font-size: 1.2em;
    height: 100%;
}

.Plate-Body {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.cmm-box {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.cmm-plate {
    height: 80%;
    display: flex;
}

.cmm-status {
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1%;
    padding-right: 5%;
}

.cmm-status > img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.select-box {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}

.cpu-memory-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.fan-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.network-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.power-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.network-and-power-plate {
    display: flex;
    width: 100%;
}

#Summary-Rear {
    width: 100%;
    height: 100%;
    min-height: 256px;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.temperature-and-rpm-plate {
    display: flex;
    width: 100%;
    justify-content: center;
}

.temperature-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fan-rpm-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Plate-Footer {
    display: flex;
    margin-bottom: 1em;
    justify-content: center;
}

.password-div {
    -webkit-text-security: disc;
    -webkit-appearance: textfield;
    cursor: auto;
}