div.user-table-header {
    display: flex;
    justify-content: space-evenly;
    width: 88%;
    flex-direction: row;
    background-color: #999;
    color: #FFF;
    padding: 1%;
    padding-left: 3%;
}

div.user-table-body {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    padding: 1%;
    background-color: #EEE;
    flex-direction: column;
}

div.user-table-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: row;
    border-bottom: 1px solid #CCC;
    padding: 2% 0 2% 0;
    align-items: center;
}
div.user-id {
    display: flex;
    flex: 1;
}

div.name {
    display: flex;
    flex: 1;
}

div.access {
    display: flex;
    flex: 1;
}

div.previlege {
    display: flex;
    flex: 1;
}

#user-add-modal {
    display: none;
    height: 350px;
    width: 600px;
    padding: 20px 60px;
    background-color: #fefefe;
    border: 2px solid #888;
    border-radius: 10px;
    flex-direction: column;
}

#change-user-info {
    display: none;
    height: 350px;
    width: 600px;
    padding: 20px 60px;
    background-color: #fefefe;
    border: 2px solid #888;
    border-radius: 10px;
    flex-direction: column;
}

#user-add-modal {
    position: absolute;
    top: 10px;
    right: 10px;
}

.checkbox {
    appearance: auto;
    width: auto;
    margin-right: 1%;
}