<!DOCTYPE html>
<html lang="ko">
<head>
    <title>CMM_WEB</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/detailTable.css">
    <link rel="stylesheet" type="text/css" href="/css/util.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1><a href="/index.html" style="cursor: pointer; color: white;"/> KETI CMM WEB</a></h1>
            <div class="session-plate">
                <p class="session-notify">현재 세션 : </p>
                <button class="normal" onclick="logoutBtn()">Log Out</button>
            </div>
        </div>        
        <div class="web-body">
            <div id="login-form">
                <div class="login-header">
                    <h2>CMM WEB LOGIN</h2>
                </div>
                <div class="login-body">
                    <div class="input-form">
                        <input id="login-username" placeholder="User Name" type="text">    
                    </div>
                    <div class="input-form">
                        <input id="login-password-div" placeholder="Password" type="password">
                    </div>
                </div>
                <div class="login-footer">
                    <button class="save login-btn">Log In</button>
                </div>
            </div>
            <div class="left-navigator">
                <div onclick="location.href='/index.html'" style="cursor: pointer;" class="navi-box">Dash Board</div>
                <dt class="menu-control">
                    <div class="navi-box">CMM Information</div>
                    <div class="navi-box-sub" onclick="location.href='/view/CMM/dashboard.html'">- CMM Dashboard</div>
                    <div class="navi-box-sub" onclick="location.href='/view/CMM/sessionManagement.html'">- CMM Session Management</div>
                    <div class="navi-box-sub" onclick="location.href='/view/CMM/cmmLogs.html'">- CMM Logs</div>    
                </dt>
                <div onclick="location.href='/view/bladeServerInformation.html'" style="cursor: pointer;" class="navi-box">CM/SM Information</div>
                <dt class="menu-control"> 
                    <div class="navi-box">Power & Thermal</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Power_Thermal/chassisSummary.html'">- Chassis Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Power_Thermal/powerSupplySummary.html'">- Power Supply Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Power_Thermal/temperatureInfo.html'">- Temperature Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Power_Thermal/fanInfo.html'">- Fan Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Power_Thermal/smartHeaterInfo.html'">- Smart Heater Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Power_Thermal/powerManagement.html'">- Power Management</div>                    
                </dt>
                <dt class="menu-control">
                    <div class="navi-box">Firmware</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Firmware/installFWInfo.html'">- Installed F/W Info</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Firmware/updateFW.html'">- F/W Update</div>                    
                </dt>
                <dt class="menu-control">
                    <div class="navi-box">SNMP & Remote Settings</div>
                    <div class="navi-box-sub" onclick="location.href='/view/SNMP_Remote/snmpConfiguration.html'">- Configure SNMP Setting</div>
                    <div class="navi-box-sub" onclick="location.href='/view/SNMP_Remote/remoteSyslogConfiguration.html'">- Configure Remote Syslog Setting</div>                    
                </dt>
                <dt class="menu-control">
                    <div class="navi-box">CMM Network Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/CMM_NETWORK/networkConfiguration.html'">- Network Configuration Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/CMM_NETWORK/networkDnsSetting.html'">- DNS & Network Setting</div>                    
                </dt>
                <dt class="menu-control">
                    <div class="navi-box">User & Chassis Administration</div>
                    <div class="cur-navi-box-sub" onclick="location.href='/view/User_Chassis/userManagement.html'">- User Account</div>
                    <div class="cur-navi-box-sub" onclick="location.href='/view/User_Chassis/ldapAndAdSetting.html'">- LDAP & Active Directory</div>
                    <div class="cur-navi-box-sub" onclick="location.href='/view/User_Chassis/networkTimeSetting.html'">- Date & Time / NTP Setting</div>
                    <div class="cur-navi-box-sub" onclick="location.href='/view/User_Chassis/timeOutSetting.html'">- Time out</div>
                    <div class="cur-navi-box-sub" onclick="location.href='/view/User_Chassis/assetTagInfo.html'">- Chassis Asset Tag</div>
                    <div class="cur-navi-box-sub" onclick="location.href='/view/User_Chassis/cmmBackupAndRestore.html'">- CMM Backup and Restore</div>                    
                </dt>
                <div onclick="location.href='/view/diagnosticOptions.html'" style="cursor: pointer;" class="navi-box">Diagnostic Options</div>
                <div class="btm-logo">
                    <img src="/images/logo-btm.png"/>
                </div>
            </div> 
            <div class ="Main-Plate">
                <div class="Plate">
                    <div class="Plate-Header">
                        <h2>LDAP & Active Directory Setting</h2>
                    </div>
                    <div class="Plate-Body" id="table-plate">
                        <div class="detail-table">
                            <div class="table-header">
                                <img src="/images/table header.png" alt="table header icon">
                                <p>LDAP</p>
                            </div>
                            <div class="table-body">
                                <div class="table-row">
                                    <div class="table-key">LDAP Service Enabled</div>
                                    <div class="checkbox-plate">
                                        <input type="checkbox" class="checkbox" id="LDAP-enable"/>
                                        <label for="LDAP-enable"><span>Enable</span></label>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-key">Auth Over SSL</div>
                                    <div class="checkbox-plate">
                                        <input type="checkbox" class="checkbox" id="LDAP-use-ssl"/>
                                        <label for="LDAP-use-ssl"><span>Use</span></label>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-key">Port</div>
                                    <div contenteditable="true" class="table-value" id="LDAP-port"></div>    
                                </div>
                                <div class="table-row">
                                    <div class="table-key">Server IP</div>
                                    <div contenteditable="true" class="table-value" id="LDAP-ip"></div>    
                                </div>
                                <div class="table-row">
                                    <div class="table-key">LDAP PassWord</div>
                                    <div contenteditable="true" class="password-div table-value" id="LDAP-password"></div>    
                                </div>
                                <div class="table-row">
                                    <div class="table-key">Base Distinguished Name</div>
                                    <div contenteditable="true" class="table-value" id="LDAP-base-dn"></div>    
                                </div>
                                <div class="table-row">
                                    <div class="table-key">Search base</div>
                                    <div contenteditable="true" class="table-value" id="LDAP-search-base"></div>    
                                </div>
                            </div>
                            <div class="Plate-Footer">
                                <button class="save" onclick="ldapSaveBtn()">save</button>
                                <button class="clear" onclick="ldapClearBtn()">clear</button>
                            </div>
                        </div>
                        <div class="detail-table">
                            <div class="table-header">
                                <img src="/images/table header.png" alt="table header icon">
                                <p>Active Directory</p>
                            </div>
                            <div class="table-body">
                                <div class="table-row">
                                    <div class="table-key">Active Directory Service Enabled</div>
                                    <div class="checkbox-plate">
                                        <input type="checkbox" class="checkbox" id="AD-enable"/>
                                        <label for="AD-enable"><span>Enable</span></label>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-key">Authentication Enabled</div>
                                    <div class="checkbox-plate">
                                        <input type="checkbox" class="checkbox" id="AD-auth-enable"/>
                                        <label for="AD-auth-enable"><span>Enable</span></label>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-key">Auth Over SSL</div>
                                    <div class="checkbox-plate">
                                        <input type="checkbox" class="checkbox" id="AD-use-ssl"/>
                                        <label for="AD-use-ssl"><span>Enable</span></label>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-key">Port</div>
                                    <div contenteditable="true" class="table-value" id="AD-port"></div>    
                                </div>
                                <div class="table-row">
                                    <div class="table-key">Domain Name</div>
                                    <div contenteditable="true" class="table-value" id="AD-domain-name"></div>    
                                </div>
                                <div class="table-row">
                                    <div class="table-key">TIME OUT</div>
                                    <div class="select-box">
                                        <select name="ETH-SELECT" id="AD-timeout">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>    
                                        </select>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-key">DCS Address 1 (IP)</div>
                                    <div contenteditable="true" class="table-value" id="AD-ip"></div>    
                                </div>
                            </div>
                            <div class="Plate-Footer">
                                <button class="save" onclick="adSaveBtn()">save</button>
                                <button class="clear" onclick="adSaveBtn()">clear</button>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>    
        </div>
    </div>
    <script type="module" src="/controller/loginModal.js"></script>
    <script type="module" src="/controller/ldapAndAdSettingController.js"></script>
</body>


</html>
