<!DOCTYPE html>
<html lang="ko">
<head>
    <title>CMM_WEB</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/detailTable.css">
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/networkTimeSetting.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1><a href="/index.html" style="cursor: pointer; color: white;"/> KETI CMM WEB</a></h1>
            <div class="session-plate">
                <p class="session-notify">현재 세션 : </p>
                <button class="normal" onclick="logoutBtn()">Log Out</button>
            </div>
        </div>        
        <div class="web-body">
            <div id="login-form">
                <div class="login-header">
                    <h2>CMM WEB LOGIN</h2>
                </div>
                <div class="login-body">
                    <div class="input-form">
                        <input id="login-username" placeholder="User Name" type="text">    
                    </div>
                    <div class="input-form">
                        <input id="login-password-div" placeholder="Password" type="password">
                    </div>
                </div>
                <div class="login-footer">
                    <button class="save login-btn">Log In</button>
                </div>
            </div>
            <div class="left-navigator">
                <div onclick="location.href='/index.html'" style="cursor: pointer;" class="navi-box">Dash Board</div>
                <dt class="menu-control">
                    <div class="navi-box">CMM Information</div>
                    <div class="navi-box-sub" onclick="location.href='/view/CMM/dashboard.html'">- CMM Dashboard</div>
                    <div class="navi-box-sub" onclick="location.href='/view/CMM/sessionManagement.html'">- CMM Session Management</div>
                    <div class="navi-box-sub" onclick="location.href='/view/CMM/cmmLogs.html'">- CMM Logs</div>    
                </dt>
                <div onclick="location.href='/view/bladeServerInformation.html'" style="cursor: pointer;" class="navi-box">CM/SM Information</div>
                <dt class="menu-control"> 
                    <div class="navi-box">Power & Thermal</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Power_Thermal/chassisSummary.html'">- Chassis Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Power_Thermal/powerSupplySummary.html'">- Power Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Power_Thermal/temperatureInfo.html'">- Temperature Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Power_Thermal/fanInfo.html'">- Fan Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Power_Thermal/smartHeaterInfo.html'">- Smart Heater Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Power_Thermal/powerManagement.html'">- Power Management</div>                    
                </dt>
                <dt class="menu-control">
                    <div class="navi-box">Firmware</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Firmware/installFWInfo.html'">- Installed F/W Info</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Firmware/updateFW.html'">- F/W Update</div>                    
                </dt>
                <dt class="menu-control">
                    <div class="navi-box">SNMP & Remote Settings</div>
                    <div class="navi-box-sub" onclick="location.href='/view/SNMP_Remote/snmpConfiguration.html'">- Configure SNMP Setting</div>
                    <div class="navi-box-sub" onclick="location.href='/view/SNMP_Remote/remoteSyslogConfiguration.html'">- Configure Remote Syslog Setting</div>                    
                </dt>
                <dt class="menu-control">
                    <div class="navi-box">CMM Network Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/CMM_NETWORK/networkConfiguration.html'">- Network Configuration Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/CMM_NETWORK/networkDnsSetting.html'">- DNS & Network Setting</div>                    
                </dt>
                <dt class="menu-control">
                    <div class="navi-box">User & Chassis Administration</div>
                    <div class="cur-navi-box-sub" onclick="location.href='/view/User_Chassis/userManagement.html'">- User Account</div>
                    <div class="cur-navi-box-sub" onclick="location.href='/view/User_Chassis/ldapAndAdSetting.html'">- LDAP & Active Directory</div>
                    <div class="cur-navi-box-sub" onclick="location.href='/view/User_Chassis/networkTimeSetting.html'">- Date & Time / NTP Setting</div>
                    <div class="cur-navi-box-sub" onclick="location.href='/view/User_Chassis/timeOutSetting.html'">- Time out</div>
                    <div class="cur-navi-box-sub" onclick="location.href='/view/User_Chassis/assetTagInfo.html'">- Chassis Asset Tag</div>
                    <div class="cur-navi-box-sub" onclick="location.href='/view/User_Chassis/cmmBackupAndRestore.html'">- CMM Backup and Restore</div>                    
                </dt>
                <div onclick="location.href='/view/diagnosticOptions.html'" style="cursor: pointer;" class="navi-box">Diagnostic Options</div>
                <div class="btm-logo">
                    <img src="/images/logo-btm.png"/>
                </div>
            </div> 
            <div class ="Main-Plate">
                <div class="Plate">
                    <div class="Plate-Header">
                        <h2>NTP Setting</h2>
                    </div>
                    <div class="Plate-Body" id="table-plate">
                        <div class="detail-table">
                            <div class="table-header">
                                <img src="/images/table header.png" alt="table header icon">
                                <p>NTP Info</p>
                            </div>
                            <div class="table-body">
                                <div class="table-row">
                                    <div class="table-key">Date</div>
                                    <input id="datepicker" type="date">    
                                </div>
                                <div class="table-row">
                                    <div class="table-key">Time</div>
                                    <div class="time-table" id="time-row">
                                        <div contenteditable="true" id="time-h" class="table-value" placeholder="hh"></div> 
                                        <div contenteditable="true" id="time-m" class="table-value" placeholder="mm"></div> 
                                        <div contenteditable="true" id="time-s" class="table-value" placeholder="ss"></div>        
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-key">UTC Timezone</div>
                                    <div class="select-box" id="timezone">
                                        <select name="Timezone-Select">
                                        </select>
                                    </div>                
                                </div>
                                <div class="table-row">
                                    <div class="table-key">Primary NTP Server</div>
                                    <div class="select-box" id="primary-ntp-server">
                                        <select name="NTP-Server-Select">
                                        </select>
                                    </div>                
                                </div>
                                <div class="table-row">
                                    <div class="table-key">Secondary NTP Server</div>
                                    <div class="select-box" id="secondary-ntp-server">
                                        <select name="NTP-Server-Select">
                                        </select>
                                    </div>                
                                </div>
                                <div class="checkbox-plate">
                                    <input type="checkbox" class="checkbox" id="use-ntp"/>
                                    <label for="use-ntp"><span>Automatically synchronize Date & Time with NTP Server</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="Plate-Footer">
                            <button class="save" onclick="saveNTPSetting()">save</button>
                            <button class="clear" onclick="clearNTPSetting()">clear</button>
                        </div>
                    </div>    
                </div>
            </div>    
        </div>
    </div>
    <script type="module" src="/controller/loginModal.js"></script>
    <script type="module" src="/controller/networkTimeSettingController.js"></script>
</body>


</html>
