<!DOCTYPE html>
<html lang="ko">
<head>
    <title>CMM_WEB</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/detailTable.css">
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/snmpConfiguration.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1><a href="/index.html" style="cursor: pointer; color: white;"/> KETI CMM WEB</a></h1>
            <div class="session-plate">
                <p class="session-notify">현재 세션 : </p>
                <button class="save" onclick="logoutBtn()">Log Out</button>
            </div>
        </div>        
        <div class="web-body">
            <div id="login-form">
                <div class="login-header">
                    <h2>CMM WEB LOGIN</h2>
                </div>
                <div class="login-body">
                    <div class="input-form">
                        <input id="login-username" placeholder="User Name" type="text">    
                    </div>
                    <div class="input-form">
                        <input id="login-password-div" placeholder="Password" type="password">
                    </div>
                </div>
                <div class="login-footer">
                    <button class="save login-btn">Log In</button>
                </div>
            </div>
            <div class="left-navigator">
                <div onclick="location.href='/index.html'" style="cursor: pointer;" class="navi-box">Dash Board</div>
                <dt class="menu-control">
                    <div class="navi-box">CMM Information</div>
                    <div class="navi-box-sub" onclick="location.href='/view/CMM/dashboard.html'">- CMM Dashboard</div>
                    <div class="navi-box-sub" onclick="location.href='/view/CMM/sessionManagement.html'">- CMM Session Management</div>
                    <div class="navi-box-sub" onclick="location.href='/view/CMM/cmmLogs.html'">- CMM Logs</div>    
                </dt>
                <div onclick="location.href='/view/bladeServerInformation.html'" style="cursor: pointer;" class="navi-box">CM/SM Information</div>
                <dt class="menu-control"> 
                    <div class="navi-box">Power & Thermal</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Power_Thermal/chassisSummary.html'">- Chassis Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Power_Thermal/powerSupplySummary.html'">- Power Supply Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Power_Thermal/temperatureInfo.html'">- Temperature Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Power_Thermal/fanInfo.html'">- Fan Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Power_Thermal/smartHeaterInfo.html'">- Smart Heater Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Power_Thermal/powerManagement.html'">- Power Management</div>                    
                </dt>
                <dt class="menu-control">
                    <div class="navi-box">Firmware</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Firmware/installFWInfo.html'">- Installed F/W Info</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Firmware/updateFW.html'">- F/W Update</div>                    
                </dt>
                <dt class="menu-control">
                    <div class="navi-box">SNMP & Remote Settings</div>
                    <div class="cur-navi-box-sub" onclick="location.href='/view/SNMP_Remote/snmpConfiguration.html'">- Configure SNMP Setting</div>
                    <div class="cur-navi-box-sub" onclick="location.href='/view/SNMP_Remote/remoteSyslogConfiguration.html'">- Configure Remote Syslog Setting</div>                    
                </dt>
                <dt class="menu-control">
                    <div class="navi-box">CMM Network Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/CMM_NETWORK/networkConfiguration.html'">- Network Configuration Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/CMM_NETWORK/networkDnsSetting.html'">- DNS & Network Setting</div>                    
                </dt>
                <dt class="menu-control">
                    <div class="navi-box">User & Chassis Administration</div>
                    <div class="navi-box-sub" onclick="location.href='/view/User_Chassis/userManagement.html'">- User Account</div>
                    <div class="navi-box-sub" onclick="location.href='/view/User_Chassis/ldapAndAdSetting.html'">- LDAP & Active Directory</div>
                    <div class="navi-box-sub" onclick="location.href='/view/User_Chassis/networkTimeSetting.html'">- Date & Time / NTP Setting</div>
                    <div class="navi-box-sub" onclick="location.href='/view/User_Chassis/timeOutSetting.html'">- Time out</div>
                    <div class="navi-box-sub" onclick="location.href='/view/User_Chassis/assetTagInfo.html'">- Chassis Asset Tag</div>
                    <div class="navi-box-sub" onclick="location.href='/view/User_Chassis/cmmBackupAndRestore.html'">- CMM Backup and Restore</div>                    
                </dt>
                <div onclick="location.href='/view/diagnosticOptions.html'" style="cursor: pointer;" class="navi-box">Diagnostic Options</div>
                <div class="btm-logo">
                    <img src="/images/logo-btm.png"/>
                </div>
            </div> 
            <div class ="Main-Plate">
                <div class="Plate">
                    <div class="Plate-Header">
                        <h2>SNMP Setting</h2>
                    </div>
                    <div class="Plate-Body" id="table-plate">
                        <div class="detail-table">
                            <div class="table-header">
                                <img src="/images/table header.png" alt="table header icon">
                                <p>SNMP Config</p>
                            </div>
                            <div class="table-body">
                                <div class="table-row">
                                    <div class="table-key">SNMP Enable</div>
                                    <div class="checkbox-plate">
                                        <input type="checkbox" class="checkbox" id="snmp-enable"/>
                                        <label for="snmp-enable"><span>Enable</span></label>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-key">SNMP Port</div>
                                    <div contenteditable="true" class="table-value" id="snmp-port"></div>    
                                </div>
                                <div class="table-row">
                                    <div class="table-key" id="snmp-version">SNMP Version</div>
                                    <div class="checkbox-plate">
                                        <input type="checkbox" class="checkbox" id="snmpv1" onclick="onlyOneVersion(this.id)"/>
                                        <label for="snmpv1"><span>SNMPv1</span></label>
                                        <input type="checkbox" class="checkbox" id="snmpv2" onclick="onlyOneVersion(this.id)"/>
                                        <label for="snmpv2"><span>SNMPv2c</span></label>
                                        <input type="checkbox" class="checkbox" id="snmpv3" onclick="onlyOneVersion(this.id)"/>
                                        <label for="snmpv3"><span>SNMPv3</span></label>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-key">SNMP Community Access Mode</div>
                                    <div class="checkbox-plate" id="community-access-mode">
                                        <input type="checkbox" class="checkbox" id="RW"/>
                                        <label for="RW"><span>Full (read-write)</span></label>
                                        <input type="checkbox" class="checkbox" id="RO"/>
                                        <label for="RO"><span>Limited (read-only)</span></label>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-key">SNMP Community Strings</div>
                                    <div class="addable-div" id="community-strings">
                                        <div class="add-btn-div">
                                            <button class="plus-button" onclick="addCS()"></button>
                                            <div class="button-label">add community-string</div>
                                        </div>
                                        <div class="addable-col" id="CS-table">
                                        </div>
                                        <div class="checkbox-plate">
                                            <input type="checkbox" class="checkbox" id="hide-CS"/>
                                            <label for="hide-CS"><span>hide commnunity string</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-key">SNMP Authentication Protocol</div>
                                    <div class="select-box">
                                        <select id="auth-protocol-select" name="AUTH-PROTOCOL-SELECT">
                                            <option selected="selected" value="Account">Account</option>
                                            <option value="Community String">Community String</option>
                                            <option value="HMAC_MD5">HMAC_MD5</option>
                                            <option value="HMAC_SHA96">HMAC_SHA96</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-key">User Name</div>
                                    <div contenteditable="true" class="table-value" id="snmp-user-name"></div>    
                                </div>
                                <div class="table-row">
                                    <div class="table-key">SNMP Encryption Protocol</div>
                                    <div class="select-box">
                                        <select  id="snmp-encryption-protocol" name="SNMP-ENCRYPTION-PROTOCOL">
                                            <option value="Account">Account</option>
                                            <option value="CBC_DES">CBC_DES</option>
                                            <option value="CFB128_AES128">CFB128_AES128</option>
                                            <option selected="selected" value="None">None</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Plate-Footer">
                            <button class="save" onclick="snmpPatchHandler()">save</button>
                            <button class="clear" onclick="snmpClearHandler()">clear</button>
                        </div>
                    </div>    
                </div>
            </div>    
        </div>
    </div>
    <script type="module" src="/controller/loginModal.js"></script>
    <script type="module" src="/controller/snmpConfigurationController.js"></script>
</body>


</html>
