<!DOCTYPE html>
<html lang="ko">
<head>
    <title>CMM_WEB</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/detailTable.css">
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/modal.css">
    <link rel="stylesheet" type="text/css" href="/css/diagnosticOptionSetting.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1><a href="/index.html" style="cursor: pointer; color: white;"/> KETI CMM WEB</a></h1>
            <div class="session-plate">
                <p class="session-notify">현재 세션 : </p>
                <button class="save" onclick="logoutBtn()">Log Out</button>
            </div>
        </div>        
        <div class="web-body">
            <div id="login-form">
                <div class="login-header">
                    <h2>CMM WEB LOGIN</h2>
                </div>
                <div class="login-body">
                    <div class="input-form">
                        <input id="login-username" placeholder="User Name" type="text">    
                    </div>
                    <div class="input-form">
                        <input id="login-password-div" placeholder="Password" type="password">
                    </div>
                </div>
                <div class="login-footer">
                    <button class="save login-btn">Log In</button>
                </div>
            </div>
            <div class="left-navigator">
                <div onclick="location.href='/index.html'" style="cursor: pointer;" class="navi-box">Dash Board</div>
                <dt class="menu-control">
                    <div class="navi-box">CMM Information</div>
                    <div class="navi-box-sub" onclick="location.href='/view/CMM/dashboard.html'">- CMM Dashboard</div>
                    <div class="navi-box-sub" onclick="location.href='/view/CMM/sessionManagement.html'">- CMM Session Management</div>
                    <div class="navi-box-sub" onclick="location.href='/view/CMM/cmmLogs.html'">- CMM Logs</div>    
                </dt>
                <div onclick="location.href='/view/bladeServerInformation.html'" style="cursor: pointer;" class="navi-box">CM/SM Information</div>
                <dt class="menu-control"> 
                    <div class="navi-box">Power & Thermal</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Power_Thermal/chassisSummary.html'">- Chassis Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Power_Thermal/powerSupplySummary.html'">- Power Supply Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Power_Thermal/temperatureInfo.html'">- Temperature Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Power_Thermal/fanInfo.html'">- Fan Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Power_Thermal/smartHeaterInfo.html'">- Smart Heater Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Power_Thermal/powerManagement.html'">- Power Management</div>                    
                </dt>
                <dt class="menu-control">
                    <div class="navi-box">Firmware</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Firmware/installFWInfo.html'">- Installed F/W Info</div>
                    <div class="navi-box-sub" onclick="location.href='/view/Firmware/updateFW.html'">- F/W Update</div>                    
                </dt>
                <dt class="menu-control">
                    <div class="navi-box">SNMP & Remote Settings</div>
                    <div class="navi-box-sub" onclick="location.href='/view/SNMP_Remote/snmpConfiguration.html'">- Configure SNMP Setting</div>
                    <div class="navi-box-sub" onclick="location.href='/view/SNMP_Remote/remoteSyslogConfiguration.html'">- Configure Remote Syslog Setting</div>                    
                </dt>
                <dt class="menu-control">
                    <div class="navi-box">CMM Network Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/CMM_NETWORK/networkConfiguration.html'">- Network Configuration Summary</div>
                    <div class="navi-box-sub" onclick="location.href='/view/CMM_NETWORK/networkDnsSetting.html'">- DNS & Network Setting</div>                    
                </dt>
                <dt class="menu-control">
                    <div class="navi-box">User & Chassis Administration</div>
                    <div class="navi-box-sub" onclick="location.href='/view/User_Chassis/userManagement.html'">- User Account</div>
                    <div class="navi-box-sub" onclick="location.href='/view/User_Chassis/ldapAndAdSetting.html'">- LDAP & Active Directory</div>
                    <div class="navi-box-sub" onclick="location.href='/view/User_Chassis/networkTimeSetting.html'">- Date & Time / NTP Setting</div>
                    <div class="navi-box-sub" onclick="location.href='/view/User_Chassis/timeOutSetting.html'">- Time out</div>
                    <div class="navi-box-sub" onclick="location.href='/view/User_Chassis/assetTagInfo.html'">- Chassis Asset Tag</div>
                    <div class="navi-box-sub" onclick="location.href='/view/User_Chassis/cmmBackupAndRestore.html'">- CMM Backup and Restore</div>                    
                </dt>
                <div onclick="location.href='/view/diagnosticOptions.html'" style="cursor: pointer;" class="navi-box">Diagnostic Options</div>
                <div class="btm-logo">
                    <img src="/images/logo-btm.png"/>
                </div>
            </div> 
            <div class ="Main-Plate">
                <div class="Plate">
                    <div class="Plate-Header">
                        <h2>Diagnostic Option Setting</h2>
                        <div class="select-box">
                            <select id="log-service-select" name="LOGSERVICE-SELECT">
                            </select>
                        </div>
                    </div>
                    <div class="Plate-Body" id="table-plate">
                        <div class="detail-table">
                            <div class="table-header">
                                <img src="/images/table header.png" alt="table header icon">
                                <p>LogService Setting</p>
                            </div>
                            <div class="table-body">
                                <div class="table-row">
                                    <div class="table-key">LogService Name</div>
                                    <div id="name" class="table-value"></div>    
                                </div>
                                <div class="table-row">
                                    <div class="table-key">Log Type</div>
                                    <div id="type" class="table-value"></div>    
                                </div>
                                <div class="table-row">
                                    <div class="table-key">Log Service Enable</div>
                                    <div class="checkbox-plate">
                                        <input type="checkbox" class="checkbox" id="enable"/>
                                        <label for="enable"><span>Enable</span></label>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-key">Overwrite Policy</div>
                                    <div id="overwrite-policy" class="table-value"></div>    
                                </div>
                                <div class="table-row">
                                    <div class="table-key">Max Number of Records</div>
                                    <div id="max-num-of-records" class="table-value"></div>    
                                </div>
                                <div class="table-row">
                                    <div class="table-key">Date Time Local Offset (UTC)</div>
                                    <div class="select-box">
                                        <select name="Timezone-Select" id="datetime-offset-select">
                                        </select>
                                    </div>                
                                </div>
                            </div>
                        </div>
                        <div class="detail-table">
                            <div class="table-header">
                                <img src="/images/table header.png" alt="table header icon">
                                <p>LogService Filter</p>
                            </div>
                            <div class="table-body">
                                <div class="addable-div">
                                    <div class="addable-header">
                                        <div class="facility-div">Facilities</div>
                                        <div class="lowest-severity-div">Lowest Severity</div>
                                    </div>
                                    <div class="addable-col" id="filter">
                                    </div>
                                </div>
                                <div class="add-btn-div">
                                    <button class="plus-button" onclick="addFilterModal()"></button>
                                    <div class="button-label">add Filter</div>
                                </div>
                                <div class="modal" id="filter-add-modal">
                                    <div class="modal-header">
                                        <img src="/images/table header.png" alt="table header icon">
                                        <p>Add Filter</p>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card-plate">
                                            <div class=card id="Auth">Security/authentication messages</div>
                                            <div class=card id="Console">Log alert</div>
                                            <div class=card id="Cron">Clock daemon</div>
                                            <div class=card id="Daemon">System daemons</div>
                                            <div class=card id="FTP">FTP daemon</div>
                                            <div class=card id="Kern">Kernel messages</div>
                                            <div class=card id="LPR">Line printer subsystem</div>
                                            <div class=card id="Mail">Mail system</div>
                                            <div class=card id="News">Network news subsystem</div>
                                            <div class=card id="NTP">NTP subsystem</div>
                                            <div class=card id="Security">Log audit</div>
                                            <div class=card id="SolarisCron">Scheduling daemon</div>
                                            <div class=card id="Syslog">Messages generated internally by syslogd</div>
                                            <div class=card id="User">User-level messages</div>
                                            <div class=card id="UUCP">UUCP subsystem</div>
                                        </div>
                                        <div class="modal-row">
                                            <div class="modal-key">Lowest Seversity</div>
                                            <select name="LOWEST-SEVERSITY-SELECT" id="lowest-severity-select">
                                                <option value="Alert">Alert</option>
                                                <option selected value="All">All</option>
                                                <option value="Critical">Critical</option>
                                                <option value="Debug">Debug</option>
                                                <option value="Emergency">Emergency</option>
                                                <option value="Error">Error</option>
                                                <option value="Informational">Informational</option>
                                                <option value="Notice">Notice</option>
                                                <option value="Warning">Warning</option>
                                            </select>        
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="modal-add-btn save">add</button>
                                        <button class="modal-close-btn clear">close</button>    
                                    </div>
                                </div>        
                            </div>
                        </div>
                        <div class="Plate-Footer">
                            <button class="save" onclick="saveBtn()">save</button>
                            <button class="clear" onclick="clearBtn()">clear</button>
                        </div>
                    </div>    
                </div>
            </div>    
        </div>
    </div>
    <script type="module" src="/controller/loginModal.js"></script>
    <script type="module" src="/controller/diagnosticOptionsController.js"></script>
</body>
</html>
